In [1]:
from fyers_apiv3 import fyersModel
import pandas as pd
# Replace these values with your actual API credentials
client_id = "PP860PBEU0-100"
secret_key = "JC501DPXH7"
redirect_uri = "https://google.com"
response_type = "code"  
state = "sample_state"

# Create a session model with the provided credentials
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key,
    redirect_uri=redirect_uri,
    response_type=response_type
)
# Generate the auth code using the session model
response = session.generate_authcode()

# Print the auth code received in the response
print(response)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=PP860PBEU0-100&redirect_uri=https%3A%2F%2Fgoogle.com&response_type=code&state=None

In [2]:
auth_code = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE2OTkxMDY2OTQsImV4cCI6MTY5OTEzNjY5NCwibmJmIjoxNjk5MTA2MDk0LCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJYUzk4MzY4Iiwib21zIjoiSzEiLCJoc21fa2V5IjoiYmIyM2YxMjg2ODFiNGE3OWM2NmU2MTM4MDdkNjZhNGM5NmE5MjUzNDZhYjhiZWRkYzQ0MDdmMzYiLCJub25jZSI6IiIsImFwcF9pZCI6IlBQODYwUEJFVTAiLCJ1dWlkIjoiYjFkZDgxMzdmNDlkNGI4ZWE4ZjdiYTJjZGE5YWI4MzgiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ.wNWBFpzoFuS_9DiStgGWZT20wNsh5XSbBhN0BtLm1dc"

In [3]:
grant_type = "authorization_code"
# Create a session object to handle the Fyers API authentication and token generation
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)
# Set the authorization code in the session object
session.set_token(auth_code)

# Generate the access token using the authorization code
response = session.generate_token()

# Print the response, which should contain the access token and other details
print(response)

{'s': 'ok', 'code': 200, 'message': '', 'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkxMDY3MzAsImV4cCI6MTY5OTE0NDIzMCwibmJmIjoxNjk5MTA2NzMwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbFJrLXFyMlNXX2dpT0JCTXQ3UFlQTEkzZjlnWVlmbHNJVVl4RjFrLWdRYVZlVGhkVURQUlFNWEFJZlRIY0ZPRW1hRURaMVhWYVlPemVmVHA3MTJ2bzZIVkZFTW85azFDbnlfSGQ4S2RBMlZUc2RUUT0iLCJkaXNwbGF5X25hbWUiOiJTQU5TS0FSIFNSSVZBU1RBVkEiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiJiYjIzZjEyODY4MWI0YTc5YzY2ZTYxMzgwN2Q2NmE0Yzk2YTkyNTM0NmFiOGJlZGRjNDQwN2YzNiIsImZ5X2lkIjoiWFM5ODM2OCIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.p6SipMMO4Vyt1HSrZOPptiENQr2siXSI708Ul3mbmCo', 'refresh_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkxMDY3MzAsImV4cCI6MTcwMDM1MzgzMCwibmJmIjoxNjk5MTA2NzMwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6InJlZnJlc2hfdG9rZW4iLCJhdF9oYXNoIjoiZ0FBQUFBQmxSay1xcjJTV19naU9CQk10N1BZUExJM2Y5Z1lZZmxzSVVZeEYxay1nUWFWZVRoZFVEUFJRTVhBSWZUSGNGT0VtYUVEWjFYVmFZT3plZlRwNzEydm82SFZGRU1vOWsxQ255X0hkOEtkQTJWVHNkVFE9IiwiZGlzcGxheV9uYW1lIjoiU0FOU0tBUiBTUklWQVNUQVZBIiwib21zIjoiSzEiLCJoc21fa2V5IjoiYmIyM2YxMjg2ODFiNGE3OWM2NmU2MTM4MDdkNjZhNGM5NmE5MjUzNDZhYjhiZWRkYzQ0MDdmMzYiLCJmeV9pZCI6IlhTOTgzNjgiLCJhcHBUeXBlIjoxMDAsInBvYV9mbGFnIjoiTiJ9.gtgPb8cofiVNgTv7VCaFFGiEI7tmsnfw6-sRDVXkhNk'}

In [4]:
df=pd.DataFrame()
df=response
tk=df['access_token']
print(tk)

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkxMDY3MzAsImV4cCI6MTY5OTE0NDIzMCwibmJmIjoxNjk5MTA2NzMwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbFJrLXFyMlNXX2dpT0JCTXQ3UFlQTEkzZjlnWVlmbHNJVVl4RjFrLWdRYVZlVGhkVURQUlFNWEFJZlRIY0ZPRW1hRURaMVhWYVlPemVmVHA3MTJ2bzZIVkZFTW85azFDbnlfSGQ4S2RBMlZUc2RUUT0iLCJkaXNwbGF5X25hbWUiOiJTQU5TS0FSIFNSSVZBU1RBVkEiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiJiYjIzZjEyODY4MWI0YTc5YzY2ZTYxMzgwN2Q2NmE0Yzk2YTkyNTM0NmFiOGJlZGRjNDQwN2YzNiIsImZ5X2lkIjoiWFM5ODM2OCIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.p6SipMMO4Vyt1HSrZOPptiENQr2siXSI708Ul3mbmCo

In [5]:
# Initialize the FyersModel instance with your client_id, access_token, and enable async mode
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=tk, log_path="")

# Make a request to get the user profile information
fyers.get_profile()

# Print the response received from the Fyers API
#print(response)

{'s': 'ok',
 'code': 200,
 'message': '',
 'data': {'fy_id': 'XS98368',
  'name': 'SANSKAR SRIVASTAVA',
  'image': None,
  'display_name': None,
  'pin_change_date': '31-10-2023 10:49:15',
  'email_id': '25raj.sanskarsrivastava@gmail.com',
  'pwd_change_date': None,
  'PAN': '---------',
  'mobile_number': '8910907224',
  'totp': False,
  'pwd_to_expire': 90}}

In [6]:
fyers.funds()

{'code': 200,
 'message': '',
 's': 'ok',
 'fund_limit': [{'id': 1,
   'title': 'Total Balance',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 2,
   'title': 'Utilized Amount',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 3, 'title': 'Clear Balance', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 4,
   'title': 'Realized Profit and Loss',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 5, 'title': 'Collaterals', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 6, 'title': 'Fund Transfer', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 7, 'title': 'Receivables', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 8, 'title': 'Adhoc Limit', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 9,
   'title': 'Limit at start of the day',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 10,
   'title': 'Available Balance',
   'equityAmount': 0,
   'commodityAmount': 0}]}

In [7]:
fyers.holdings()

{'code': 200,
 'message': '',
 's': 'ok',
 'overall': {'count_total': 0,
  'pnl_perc': 0,
  'total_current_value': 0,
  'total_investment': 0,
  'total_pl': 0},
 'holdings': []}

In [8]:
data = {
    "symbol":"NSE:BANKNIFTY23N0843600PE",
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"
}

hdata=fyers.history(data=data)

In [9]:
Data = {
    "symbol":"NSE:BANKNIFTY23N0843100CE",
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"
}

Pdata=fyers.history(data=Data)

In [10]:
import datetime
import numpy as np
df = pd.DataFrame.from_dict(hdata['candles'])
cols = ['datetime','open','high','low','close','volume']
df.columns=cols
df['datetime']= pd.to_datetime(df['datetime'],unit="s")
df['datetime'] = df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
df['datetime'] = df['datetime'].dt.tz_localize(None)
df.iloc[:,:]

               datetime    open    high     low   close  volume
0   2023-11-02 09:15:00  587.15  615.70  518.35  529.40   18810
1   2023-11-02 09:18:00  529.40  530.00  506.40  516.45   23220
2   2023-11-02 09:21:00  516.45  519.40  494.65  503.75   18510
3   2023-11-02 09:24:00  503.75  521.35  493.50  495.25   23595
4   2023-11-02 09:27:00  494.35  506.45  484.05  499.75   16065
..                  ...     ...     ...     ...     ...     ...
245 2023-11-03 15:15:00  386.25  389.15  376.35  378.30   80550
246 2023-11-03 15:18:00  379.60  384.25  377.05  381.30   94350
247 2023-11-03 15:21:00  380.95  382.50  363.80  365.70  118680
248 2023-11-03 15:24:00  365.70  382.95  363.55  381.05  120765
249 2023-11-03 15:27:00  381.60  381.60  360.00  360.00   82695

[250 rows x 6 columns]

In [11]:
Df = pd.DataFrame.from_dict(Pdata['candles'])
cols = ['datetime','open','high','low','close','volume']
Df.columns=cols
Df['datetime']= pd.to_datetime(Df['datetime'],unit="s")
Df['datetime'] = Df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
Df['datetime'] = Df['datetime'].dt.tz_localize(None)
Df

               datetime    open    high     low   close   volume
0   2023-11-02 09:15:00  210.10  348.00  200.00  334.60  1641045
1   2023-11-02 09:18:00  334.25  354.00  334.25  342.60  1209510
2   2023-11-02 09:21:00  340.80  366.00  338.95  358.65  1230255
3   2023-11-02 09:24:00  360.00  362.20  339.10  361.00   804285
4   2023-11-02 09:27:00  360.90  370.00  350.00  354.85   728565
..                  ...     ...     ...     ...     ...      ...
245 2023-11-03 15:15:00  370.90  374.85  365.75  372.95   105480
246 2023-11-03 15:18:00  372.90  376.55  369.50  374.45   109725
247 2023-11-03 15:21:00  374.90  380.95  372.15  379.60   113835
248 2023-11-03 15:24:00  380.45  382.65  358.35  364.40   157560
249 2023-11-03 15:27:00  363.95  369.05  359.60  360.25   109980

[250 rows x 6 columns]

In [12]:
def signal_generator(df):
    Open = df.open.iloc[-1]
    Close = df.close.iloc[-1]
    previous_Open = df.open.iloc[-2]
    previous_Close = df.close.iloc[-2]
    
    # red candle
    if (Open>Close):
        return 1

    # green candle
    elif (Open<Close):
        return 2
    
    # No clear pattern
    else:
        return 0

signal = []
signal.append(0)
for i in range(1,len(df)):
    dataF = df[i-1:i+1]
    signal.append(signal_generator(dataF))
#signal_generator(data)
df["signal"] = signal
df

               datetime    open    high     low   close  volume  signal
0   2023-11-02 09:15:00  587.15  615.70  518.35  529.40   18810       0
1   2023-11-02 09:18:00  529.40  530.00  506.40  516.45   23220       1
2   2023-11-02 09:21:00  516.45  519.40  494.65  503.75   18510       1
3   2023-11-02 09:24:00  503.75  521.35  493.50  495.25   23595       1
4   2023-11-02 09:27:00  494.35  506.45  484.05  499.75   16065       2
..                  ...     ...     ...     ...     ...     ...     ...
245 2023-11-03 15:15:00  386.25  389.15  376.35  378.30   80550       1
246 2023-11-03 15:18:00  379.60  384.25  377.05  381.30   94350       2
247 2023-11-03 15:21:00  380.95  382.50  363.80  365.70  118680       1
248 2023-11-03 15:24:00  365.70  382.95  363.55  381.05  120765       2
249 2023-11-03 15:27:00  381.60  381.60  360.00  360.00   82695       1

[250 rows x 7 columns]

In [13]:
df.signal.value_counts()

2    130
1    118
0      2
Name: signal, dtype: int64

In [14]:
call=input(str("Enter the symbol for call :"))
put=input(str("Enter the symbol for put :"))

Enter the symbol for call :NSE:BANKNIFTY23N0843100CE
Enter the symbol for put :NSE:BANKNIFTY23N0843600PE

In [37]:
def get_datacall():
    data = {
    "symbol":call,
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"}

    hdata=fyers.history(data=data)
    df = pd.DataFrame.from_dict(hdata['candles'])
    cols = ['datetime','open','high','low','close','volume']
    df.columns=cols
    df['datetime']= pd.to_datetime(df['datetime'],unit="s")
    df['datetime'] = df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
    df['datetime'] = df['datetime'].dt.tz_localize(None)
    df.iloc[:,:]
    
    signal = []
    signal.append(0)
    for i in range(1,len(df)):
        dataF = df[i-1:i+1]
        signal.append(signal_generator(dataF))
    #signal_generator(data)
    df["signal"] = signal
    
    for i in range(1,len(df)):
        h=0
        l=0
        t=0
        signalfirst = df.signal.iloc[i]
        signalsecond = df.signal.iloc[i-1]
        presenthigh = df.high.iloc[i]
        previoushigh = df.high.iloc[i-1]
        presentlow = df.low.iloc[i]
        previouslow = df.low.iloc[i-1]
        previousdate = df.datetime.iloc[i-1]
        presentdate = df.datetime.iloc[i]
    
        #goodpair
        if(signalfirst!=signalsecond):
            if(previoushigh>presenthigh and presentlow<previouslow):
                h = previoushigh
                l = presentlow
                t=1
            elif(previoushigh<presenthigh and presentlow>previouslow):
                h = presenthigh
                l = previouslow
                t=1
        if(abs(h-l)>=0 and abs(h-l)<=30 and t==1):
            global goodpairCE
            goodpairCE.loc[len(goodpairCE)] = [previousdate, h, l]

In [40]:
goodpairCE = pd.DataFrame(columns=['Datetime', 'HC', 'LC'])
get_datacall()
goodpairCE

              Datetime      HC      LC
0  2023-11-02 09:51:00  404.75  380.45
1  2023-11-02 09:54:00  404.75  380.00
2  2023-11-02 10:00:00  393.55  369.40
3  2023-11-02 10:03:00  389.65  363.60
4  2023-11-02 10:06:00  378.65  352.35
5  2023-11-02 10:12:00  352.90  323.25
6  2023-11-02 10:18:00  356.35  334.10
7  2023-11-02 10:24:00  344.30  328.75
8  2023-11-02 10:39:00  321.00  302.50
9  2023-11-02 10:57:00  296.30  276.40
10 2023-11-02 11:06:00  309.00  296.15
11 2023-11-02 11:09:00  312.35  300.00
12 2023-11-02 11:21:00  295.55  279.40
13 2023-11-02 11:30:00  289.35  259.70
14 2023-11-02 11:54:00  195.00  175.55
15 2023-11-02 11:57:00  195.00  182.40
16 2023-11-02 12:03:00  193.25  181.75
17 2023-11-02 12:06:00  193.05  178.90
18 2023-11-02 12:15:00  196.70  184.85
19 2023-11-02 12:24:00  218.00  204.10
20 2023-11-02 12:27:00  211.60  201.85
21 2023-11-02 12:39:00  212.85  192.45
22 2023-11-02 12:45:00  207.55  196.85
23 2023-11-02 13:06:00  213.70  206.05
24 2023-11-02 13:12:00  227.95  208.00
25 2023-11-02 13:18:00  219.70  208.35
26 2023-11-02 13:36:00  206.25  194.05
27 2023-11-02 14:03:00  228.95  216.80
28 2023-11-02 14:24:00  237.50  208.65
29 2023-11-02 14:36:00  248.35  232.30
30 2023-11-03 09:33:00  417.35  395.00
31 2023-11-03 10:03:00  411.95  384.15
32 2023-11-03 10:15:00  402.00  375.50
33 2023-11-03 10:24:00  396.00  374.65
34 2023-11-03 10:45:00  400.80  378.30
35 2023-11-03 11:12:00  405.70  392.60
36 2023-11-03 11:45:00  391.00  373.55
37 2023-11-03 11:48:00  385.00  370.60
38 2023-11-03 11:54:00  380.55  368.00
39 2023-11-03 11:57:00  380.05  365.20
40 2023-11-03 12:03:00  382.80  370.30
41 2023-11-03 12:18:00  389.65  376.00
42 2023-11-03 12:24:00  387.00  377.20
43 2023-11-03 12:27:00  387.00  373.00
44 2023-11-03 12:54:00  369.95  353.70
45 2023-11-03 13:00:00  373.00  363.90
46 2023-11-03 13:06:00  385.20  363.20
47 2023-11-03 13:33:00  418.00  394.45
48 2023-11-03 13:36:00  412.75  394.45
49 2023-11-03 13:48:00  395.65  384.45
50 2023-11-03 13:51:00  399.50  387.60
51 2023-11-03 14:00:00  408.90  383.40
52 2023-11-03 14:12:00  396.15  372.30
53 2023-11-03 14:18:00  400.80  390.05
54 2023-11-03 14:21:00  407.55  392.00
55 2023-11-03 14:51:00  374.90  353.65
56 2023-11-03 14:57:00  394.05  370.25
57 2023-11-03 15:03:00  383.80  360.00
58 2023-11-03 15:09:00  375.15  364.25

In [ ]:
def get_dataput():
    data = {
    "symbol":put,
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"}

    hdata=fyers.history(data=data)
    df = pd.DataFrame.from_dict(hdata['candles'])
    cols = ['datetime','open','high','low','close','volume']
    df.columns=cols
    df['datetime']= pd.to_datetime(df['datetime'],unit="s")
    df['datetime'] = df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
    df['datetime'] = df['datetime'].dt.tz_localize(None)
    df.iloc[:,:]
    
    signal = []
    signal.append(0)
    for i in range(1,len(df)):
        dataF = df[i-1:i+1]
        signal.append(signal_generator(dataF))
    #signal_generator(data)
    df["signal"] = signal
    
    for i in range(1,len(df)):
        h=0
        l=0
        t=0
        signalfirst = df.signal.iloc[i]
        signalsecond = df.signal.iloc[i-1]
        presenthigh = df.high.iloc[i]
        previoushigh = df.high.iloc[i-1]
        presentlow = df.low.iloc[i]
        previouslow = df.low.iloc[i-1]
        previousdate = df.datetime.iloc[i-1]
        presentdate = df.datetime.iloc[i]
    
        #goodpair
        if(signalfirst!=signalsecond):
            if(previoushigh>presenthigh and presentlow<previouslow):
                h = previoushigh
                l = presentlow
                t=1
            elif(previoushigh<presenthigh and presentlow>previouslow):
                h = presenthigh
                l = previouslow
                t=1
        if(abs(h-l)>=0 and abs(h-l)<=30 and t==1):
            global goodpairPE
            goodpairPE.loc[len(goodpairPE)] = [previousdate, h, l

In [39]:
goodpairPE = pd.DataFrame(columns=['Datetime', 'HP', 'LP'])
get_dataput()
goodpairPE

              Datetime      HP      LP
0  2023-11-02 09:51:00  468.70  444.90
1  2023-11-02 09:54:00  469.30  444.90
2  2023-11-02 10:00:00  477.45  453.00
3  2023-11-02 10:03:00  478.50  458.55
4  2023-11-02 10:06:00  490.00  461.00
5  2023-11-02 10:39:00  544.25  516.95
6  2023-11-02 10:42:00  538.40  512.60
7  2023-11-02 10:54:00  568.90  542.80
8  2023-11-02 11:06:00  547.35  526.85
9  2023-11-02 11:09:00  543.00  520.00
10 2023-11-02 11:21:00  568.20  545.75
11 2023-11-02 12:15:00  766.10  740.00
12 2023-11-02 12:27:00  720.00  700.00
13 2023-11-02 12:45:00  732.00  708.50
14 2023-11-02 12:51:00  730.95  710.00
15 2023-11-02 12:54:00  730.95  707.15
16 2023-11-02 14:03:00  672.00  655.75
17 2023-11-02 14:36:00  639.20  610.00
18 2023-11-02 14:45:00  651.70  628.50
19 2023-11-02 15:24:00  549.00  531.05
20 2023-11-03 09:33:00  387.30  366.75
21 2023-11-03 10:03:00  401.80  374.00
22 2023-11-03 10:06:00  401.80  374.50
23 2023-11-03 10:09:00  403.65  374.50
24 2023-11-03 10:15:00  408.00  381.35
25 2023-11-03 10:24:00  406.20  385.90
26 2023-11-03 10:33:00  410.00  386.40
27 2023-11-03 10:39:00  404.10  388.95
28 2023-11-03 10:42:00  399.35  379.05
29 2023-11-03 10:45:00  398.20  378.80
30 2023-11-03 11:03:00  378.50  349.30
31 2023-11-03 11:06:00  382.85  355.90
32 2023-11-03 11:12:00  378.60  365.50
33 2023-11-03 11:15:00  395.45  365.50
34 2023-11-03 11:45:00  396.40  376.70
35 2023-11-03 11:51:00  399.00  389.10
36 2023-11-03 11:54:00  405.30  389.10
37 2023-11-03 11:57:00  408.70  392.00
38 2023-11-03 12:03:00  401.95  386.25
39 2023-11-03 12:06:00  401.30  384.45
40 2023-11-03 12:27:00  392.50  378.30
41 2023-11-03 12:30:00  392.50  378.85
42 2023-11-03 13:06:00  398.90  374.85
43 2023-11-03 13:30:00  359.55  345.50
44 2023-11-03 13:36:00  365.20  350.00
45 2023-11-03 13:51:00  370.40  358.70
46 2023-11-03 14:00:00  372.50  347.50
47 2023-11-03 14:12:00  379.90  356.85
48 2023-11-03 14:18:00  364.40  354.00
49 2023-11-03 14:21:00  362.30  348.20
50 2023-11-03 14:51:00  404.40  380.15
51 2023-11-03 14:57:00  386.70  358.45
52 2023-11-03 15:03:00  392.35  368.30
53 2023-11-03 15:09:00  391.05  377.55
54 2023-11-03 15:18:00  384.25  363.80
55 2023-11-03 15:24:00  382.95  360.00