In [3]:
from fyers_apiv3 import fyersModel
import pandas as pd
# Replace these values with your actual API credentials
client_id = "PP860PBEU0-100"
secret_key = "JC501DPXH7"
redirect_uri = "https://google.com"
response_type = "code"  
state = "sample_state"

# Create a session model with the provided credentials
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key,
    redirect_uri=redirect_uri,
    response_type=response_type
)
# Generate the auth code using the session model
response = session.generate_authcode()

# Print the auth code received in the response
print(response)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=PP860PBEU0-100&redirect_uri=https%3A%2F%2Fgoogle.com&response_type=code&state=None

In [4]:
auth_code = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE2OTkwMDc2NTQsImV4cCI6MTY5OTAzNzY1NCwibmJmIjoxNjk5MDA3MDU0LCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJYUzk4MzY4Iiwib21zIjoiSzEiLCJoc21fa2V5IjoiYmIyM2YxMjg2ODFiNGE3OWM2NmU2MTM4MDdkNjZhNGM5NmE5MjUzNDZhYjhiZWRkYzQ0MDdmMzYiLCJub25jZSI6IiIsImFwcF9pZCI6IlBQODYwUEJFVTAiLCJ1dWlkIjoiNWY5MzYzMzE1NDUyNDNkM2E2ZDNmNDc2ODAzNWVmY2QiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ.BBQdT4dKV7qZge47UKS_AmHflNTDv3byT48i6Tq3knI"

In [5]:
grant_type = "authorization_code"
# Create a session object to handle the Fyers API authentication and token generation
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)
# Set the authorization code in the session object
session.set_token(auth_code)

# Generate the access token using the authorization code
response = session.generate_token()

# Print the response, which should contain the access token and other details
print(response)

{'s': 'ok', 'code': 200, 'message': '', 'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkwMDc3MTAsImV4cCI6MTY5OTA1NzgxMCwibmJmIjoxNjk5MDA3NzEwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbFJNemVPeFluUmZTQ0Z0ekNhcmh1b1RIbGd1LWVwZnNkUzBOMGNxQU5MM01fOTNiQkRlc3FpVEpFSDVXa2x2T0RCS1hJdmpwdTQtWHFRMFFYb3FBR1JfbjY0aGxQT1ZUMEhyemRHUWxqOE5pb1Q1UT0iLCJkaXNwbGF5X25hbWUiOiJTQU5TS0FSIFNSSVZBU1RBVkEiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiJiYjIzZjEyODY4MWI0YTc5YzY2ZTYxMzgwN2Q2NmE0Yzk2YTkyNTM0NmFiOGJlZGRjNDQwN2YzNiIsImZ5X2lkIjoiWFM5ODM2OCIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0._k2FvwMC2Q01qFABLlkyap-U3OwanROZ79ZszPa062o', 'refresh_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkwMDc3MTAsImV4cCI6MTcwMDI2NzQxMCwibmJmIjoxNjk5MDA3NzEwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6InJlZnJlc2hfdG9rZW4iLCJhdF9oYXNoIjoiZ0FBQUFBQmxSTXplT3hZblJmU0NGdHpDYXJodW9USGxndS1lcGZzZFMwTjBjcUFOTDNNXzkzYkJEZXNxaVRKRUg1V2tsdk9EQktYSXZqcHU0LVhxUTBRWG9xQUdSX242NGhsUE9WVDBIcnpkR1FsajhOaW9UNVE9IiwiZGlzcGxheV9uYW1lIjoiU0FOU0tBUiBTUklWQVNUQVZBIiwib21zIjoiSzEiLCJoc21fa2V5IjoiYmIyM2YxMjg2ODFiNGE3OWM2NmU2MTM4MDdkNjZhNGM5NmE5MjUzNDZhYjhiZWRkYzQ0MDdmMzYiLCJmeV9pZCI6IlhTOTgzNjgiLCJhcHBUeXBlIjoxMDAsInBvYV9mbGFnIjoiTiJ9.bxONcO3eCqa0gVkQfk08d784jL3ko9Bca0y6cg4Gcbg'}

In [6]:
df=pd.DataFrame()
df=response
tk=df['access_token']
print(tk)

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE2OTkwMDc3MTAsImV4cCI6MTY5OTA1NzgxMCwibmJmIjoxNjk5MDA3NzEwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbFJNemVPeFluUmZTQ0Z0ekNhcmh1b1RIbGd1LWVwZnNkUzBOMGNxQU5MM01fOTNiQkRlc3FpVEpFSDVXa2x2T0RCS1hJdmpwdTQtWHFRMFFYb3FBR1JfbjY0aGxQT1ZUMEhyemRHUWxqOE5pb1Q1UT0iLCJkaXNwbGF5X25hbWUiOiJTQU5TS0FSIFNSSVZBU1RBVkEiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiJiYjIzZjEyODY4MWI0YTc5YzY2ZTYxMzgwN2Q2NmE0Yzk2YTkyNTM0NmFiOGJlZGRjNDQwN2YzNiIsImZ5X2lkIjoiWFM5ODM2OCIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0._k2FvwMC2Q01qFABLlkyap-U3OwanROZ79ZszPa062o

In [7]:
# Initialize the FyersModel instance with your client_id, access_token, and enable async mode
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=tk, log_path="")

# Make a request to get the user profile information
fyers.get_profile()

# Print the response received from the Fyers API
#print(response)

{'s': 'ok',
 'code': 200,
 'message': '',
 'data': {'fy_id': 'XS98368',
  'name': 'SANSKAR SRIVASTAVA',
  'image': None,
  'display_name': None,
  'pin_change_date': '31-10-2023 10:49:15',
  'email_id': '25raj.sanskarsrivastava@gmail.com',
  'pwd_change_date': None,
  'PAN': '---------',
  'mobile_number': '8910907224',
  'totp': False,
  'pwd_to_expire': 90}}

In [8]:
fyers.funds()

{'code': 200,
 'message': '',
 's': 'ok',
 'fund_limit': [{'id': 1,
   'title': 'Total Balance',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 2,
   'title': 'Utilized Amount',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 3, 'title': 'Clear Balance', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 4,
   'title': 'Realized Profit and Loss',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 5, 'title': 'Collaterals', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 6, 'title': 'Fund Transfer', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 7, 'title': 'Receivables', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 8, 'title': 'Adhoc Limit', 'equityAmount': 0, 'commodityAmount': 0},
  {'id': 9,
   'title': 'Limit at start of the day',
   'equityAmount': 0,
   'commodityAmount': 0},
  {'id': 10,
   'title': 'Available Balance',
   'equityAmount': 0,
   'commodityAmount': 0}]}

In [9]:
fyers.holdings()

{'code': 200,
 'message': '',
 's': 'ok',
 'overall': {'count_total': 0,
  'pnl_perc': 0,
  'total_current_value': 0,
  'total_investment': 0,
  'total_pl': 0},
 'holdings': []}

In [10]:
data = {
    "symbol":"NSE:BANKNIFTY23N0843600PE",
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"
}

hdata=fyers.history(data=data)

In [11]:
Data = {
    "symbol":"NSE:BANKNIFTY23N0843100CE",
    "resolution":"3",
    "date_format":"1",
    "range_from":"2023-11-02",
    "range_to":"2023-11-03",
    "cont_flag":"1"
}

Pdata=fyers.history(data=Data)

In [12]:
import datetime
import numpy as np
df = pd.DataFrame.from_dict(hdata['candles'])
cols = ['datetime','open','high','low','close','volume']
df.columns=cols
df['datetime']= pd.to_datetime(df['datetime'],unit="s")
df['datetime'] = df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
df['datetime'] = df['datetime'].dt.tz_localize(None)
df.iloc[:,:]

               datetime    open    high     low   close  volume
0   2023-11-02 09:15:00  587.15  615.70  518.35  529.40   18810
1   2023-11-02 09:18:00  529.40  530.00  506.40  516.45   23220
2   2023-11-02 09:21:00  516.45  519.40  494.65  503.75   18510
3   2023-11-02 09:24:00  503.75  521.35  493.50  495.25   23595
4   2023-11-02 09:27:00  494.35  506.45  484.05  499.75   16065
..                  ...     ...     ...     ...     ...     ...
245 2023-11-03 15:15:00  386.25  389.15  376.35  378.30   80550
246 2023-11-03 15:18:00  379.60  384.25  377.05  381.30   94350
247 2023-11-03 15:21:00  380.95  382.50  363.80  365.70  118680
248 2023-11-03 15:24:00  365.70  382.95  363.55  381.05  120765
249 2023-11-03 15:27:00  381.60  381.60  360.00  360.00   82695

[250 rows x 6 columns]

In [13]:
Df = pd.DataFrame.from_dict(Pdata['candles'])
cols = ['datetime','open','high','low','close','volume']
Df.columns=cols
Df['datetime']= pd.to_datetime(Df['datetime'],unit="s")
Df['datetime'] = Df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
Df['datetime'] = Df['datetime'].dt.tz_localize(None)
Df

               datetime    open    high     low   close   volume
0   2023-11-02 09:15:00  210.10  348.00  200.00  334.60  1641045
1   2023-11-02 09:18:00  334.25  354.00  334.25  342.60  1209510
2   2023-11-02 09:21:00  340.80  366.00  338.95  358.65  1230255
3   2023-11-02 09:24:00  360.00  362.20  339.10  361.00   804285
4   2023-11-02 09:27:00  360.90  370.00  350.00  354.85   728565
..                  ...     ...     ...     ...     ...      ...
245 2023-11-03 15:15:00  370.90  374.85  365.75  372.95   105480
246 2023-11-03 15:18:00  372.90  376.55  369.50  374.45   109725
247 2023-11-03 15:21:00  374.90  380.95  372.15  379.60   113835
248 2023-11-03 15:24:00  380.45  382.65  358.35  364.40   157560
249 2023-11-03 15:27:00  363.95  369.05  359.60  360.25   109980

[250 rows x 6 columns]

In [14]:
def signal_generator(df):
    Open = df.open.iloc[-1]
    Close = df.close.iloc[-1]
    previous_Open = df.open.iloc[-2]
    previous_Close = df.close.iloc[-2]
    
    # red candle
    if (Open>Close):
        return 1

    # green candle
    elif (Open<Close):
        return 2
    
    # No clear pattern
    else:
        return 0

signal = []
signal.append(0)
for i in range(1,len(df)):
    dataF = df[i-1:i+1]
    signal.append(signal_generator(dataF))
#signal_generator(data)
df["signal"] = signal
df

               datetime    open    high     low   close  volume  signal
0   2023-11-02 09:15:00  587.15  615.70  518.35  529.40   18810       0
1   2023-11-02 09:18:00  529.40  530.00  506.40  516.45   23220       1
2   2023-11-02 09:21:00  516.45  519.40  494.65  503.75   18510       1
3   2023-11-02 09:24:00  503.75  521.35  493.50  495.25   23595       1
4   2023-11-02 09:27:00  494.35  506.45  484.05  499.75   16065       2
..                  ...     ...     ...     ...     ...     ...     ...
245 2023-11-03 15:15:00  386.25  389.15  376.35  378.30   80550       1
246 2023-11-03 15:18:00  379.60  384.25  377.05  381.30   94350       2
247 2023-11-03 15:21:00  380.95  382.50  363.80  365.70  118680       1
248 2023-11-03 15:24:00  365.70  382.95  363.55  381.05  120765       2
249 2023-11-03 15:27:00  381.60  381.60  360.00  360.00   82695       1

[250 rows x 7 columns]

In [15]:
df.signal.value_counts()
#dataF.iloc[:, :]

2    130
1    118
0      2
Name: signal, dtype: int64

In [30]:
time=[]
#global cnt
cnt=0
def signal_check(df):
    for i in range(1,len(df)):
        h=0
        l=0
        t=0
        signalfirst = df.signal.iloc[i]
        signalsecond = df.signal.iloc[i-1]
        presenthigh = df.high.iloc[i]
        previoushigh = df.high.iloc[i-1]
        presentlow = df.low.iloc[i]
        previouslow = df.low.iloc[i-1]
        previousdate = df.datetime.iloc[i-1]
        presentdate = df.datetime.iloc[i]
    
        #goodpair
        if(signalfirst!=signalsecond):
            if(previoushigh>presenthigh and presentlow<previouslow):
                h = previoushigh
                l = presentlow
                t=1
            elif(previoushigh<presenthigh and presentlow>previouslow):
                h = presenthigh
                l = previouslow
                t=1
        if(abs(h-l)>=0 and abs(h-l)<=30 and t==1):
            global cnt
            cnt+=1
            time.append(previousdate)

In [31]:
signal_check(df)
print(time)
print(cnt)

[Timestamp('2023-11-02 09:51:00'), Timestamp('2023-11-02 09:54:00'), Timestamp('2023-11-02 10:00:00'), Timestamp('2023-11-02 10:03:00'), Timestamp('2023-11-02 10:06:00'), Timestamp('2023-11-02 10:39:00'), Timestamp('2023-11-02 10:42:00'), Timestamp('2023-11-02 10:54:00'), Timestamp('2023-11-02 11:06:00'), Timestamp('2023-11-02 11:09:00'), Timestamp('2023-11-02 11:21:00'), Timestamp('2023-11-02 12:15:00'), Timestamp('2023-11-02 12:27:00'), Timestamp('2023-11-02 12:45:00'), Timestamp('2023-11-02 12:51:00'), Timestamp('2023-11-02 12:54:00'), Timestamp('2023-11-02 14:03:00'), Timestamp('2023-11-02 14:36:00'), Timestamp('2023-11-02 14:45:00'), Timestamp('2023-11-02 15:24:00'), Timestamp('2023-11-03 09:33:00'), Timestamp('2023-11-03 10:03:00'), Timestamp('2023-11-03 10:06:00'), Timestamp('2023-11-03 10:09:00'), Timestamp('2023-11-03 10:15:00'), Timestamp('2023-11-03 10:24:00'), Timestamp('2023-11-03 10:33:00'), Timestamp('2023-11-03 10:39:00'), Timestamp('2023-11-03 10:42:00'), Timestamp('2023-11-03 10:45:00'), Timestamp('2023-11-03 11:03:00'), Timestamp('2023-11-03 11:06:00'), Timestamp('2023-11-03 11:12:00'), Timestamp('2023-11-03 11:15:00'), Timestamp('2023-11-03 11:45:00'), Timestamp('2023-11-03 11:51:00'), Timestamp('2023-11-03 11:54:00'), Timestamp('2023-11-03 11:57:00'), Timestamp('2023-11-03 12:03:00'), Timestamp('2023-11-03 12:06:00'), Timestamp('2023-11-03 12:27:00'), Timestamp('2023-11-03 12:30:00'), Timestamp('2023-11-03 13:06:00'), Timestamp('2023-11-03 13:30:00'), Timestamp('2023-11-03 13:36:00'), Timestamp('2023-11-03 13:51:00'), Timestamp('2023-11-03 14:00:00'), Timestamp('2023-11-03 14:12:00'), Timestamp('2023-11-03 14:18:00'), Timestamp('2023-11-03 14:21:00'), Timestamp('2023-11-03 14:51:00'), Timestamp('2023-11-03 14:57:00'), Timestamp('2023-11-03 15:03:00'), Timestamp('2023-11-03 15:09:00'), Timestamp('2023-11-03 15:18:00'), Timestamp('2023-11-03 15:24:00')]
56